<!DOCTYPE html>
<head>
    <title>
        {{title}}
    </title>
</head>
<body>
    <link rel="stylesheet" href="/css/style.css">
      <p>{{name}}</p>
     <p>{{errorMsg}}</p>
     <h3>Error</h3>
</body>
</html>