<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>
        in About
    </title>

</head>
<body>
    <h1>
        About page 
    </h1>
    {{>header}}

    <img src="/image/flower.jpeg" class="kanaka">
    
    <p>{{title}}</p>
    <p>{{name}}</p>
    <p>{{AboutText}}</p>
    {{>footer}}

</body>
</html>