<!DOCTYPE html>
<head>
    <title>
        kanaka
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <h1> help tiltle</h1>

</head>
<body>
   {{>header}}
    <p>{{title}}</p>
    <p>{{helpText}}</p>
    <P>{{name}}</P>
     in Help page for Hbs
     {{>footer}}
</body>
</html>