<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <h1>Weather broad casting</h1>
    <title>
        my app2
    </title>
    
</head>
<body>
{{>header}}

<p>{{title}}</p>
<p>{{name}}</p>
<p>{{indexText}}</p>
 weather
 <div>
     <form>
         <input placeholder="location">
         <button>Search</button>
     </form>

     <p id="Message-one"></p>
     <p id="Message-two"></p>
 </div>
 <script src="/js/app.js"></script>
 {{>footer}}
</body>
</html>